* {
  box-sizing: border-box;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: stretch;
  background-color: rgb(138, 199, 88);
  margin: 0px;
}
.nav-list-item {
  padding: 10px;
}
.name {
  text-align: center;
  font-size: xxx-large;
}
.photo {
  width: 35%;
  border-radius: 400px;
}
.img-container {
  text-align: center;
}
.svg_png {
  width: 20px;
}

.pre {
  padding: 0;
  margin: 0;
}

.contact {
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 70%;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #2c292a;
}
