* {
  box-sizing: border-box;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: stretch;
  background-color: #c3e0c9;
  margin: 0px;
}
.nav-list-item {
  padding: 10px;
}
.name {
  text-align: center;
  font-size: xxx-large;
}
.photo {
  width: 30%;
  border-radius: 400px;
  background-color: #c3e0c9;
}
.img-container {
  text-align: center;
}
.svg_png {
  width: 20px;
}

.svg_1_png {
  width: 120px;
}

.pre {
  padding: 0;
  margin: 0;
}
.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #2c292a;
}
.contact {
  padding-left: 5%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 70%;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #2c292a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
  background-color: #c3e0c9;
  padding: 1%;
  color: #2c292a;
}
.sections-container {
  display: -webkit-box;
  flex-flow: column wrap;
  height: 100%;
}
.section-container {
  width: 50%;
  padding: 5%;
}
