* {
  box-sizing: border-box;
}

.html {
  background-color: rgb(200, 194, 184);
}

.all {
  margin: 40px 120px 40px 120px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: stretch;
  background-color: #829985;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  border-radius: 7px;
}
.nav-list-item {
  padding: 10px;
}
li.nav-list-item a {
  color: #eeeeee;
}
.name {
  text-align: center;
  font-size: xxx-large;
  font-weight: 700;
  font-family: "Luxurious Roman", cursive;
}
.photo {
  max-width: 400px;
  border-radius: 50%;
}
.img-container {
  text-align: center;
}
.svg_png {
  width: 30px;
}

.svg_1_png {
  width: 120px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  font-size: medium;
  margin-top: -60px;
}

.section-title {
  margin-bottom: 20px;
  color: #829985;
}
.contact {
  padding-left: 5%;
  position: relative;
  top: -9px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  border-radius: 0;
  font-weight: 500;
  border-bottom: 10px solid #829985;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
  min-height: 10vh;
  font-family: "Oswald", sans-serif;
  background-color: #f3ecd6;
  font-size: 20px;
  line-height: 1.5;
  color: #2c292a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
  background-color: #829985;
  padding: 1%;
  color: #2c292a;
}
.sections-container {
  display: -webkit-box;
  flex-flow: column wrap;
  height: 100%;
}
.section-container {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  color: #2c292a;
  justify-content: center;
  border-bottom: 10px solid #829985;
}

.github-link-container {
  line-height: 70px;
}
.p-footer-container {
  color: #eee;
}
